@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

:root {
  --principal: #FFFFFF;
  --secondary: #F6F6F7;
  --contrast: #747BFF;
  --text: #2D2E32;
}

*{
  color: var(--text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a:hover{
  color: #747BFF;
  transition: ease .3s;
}
